html{
	height: 100%;
	background: url(../img/bg.png) no-repeat;
}
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
ul{
	width: 446px;
	height: 424px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.right{
	width: 410px;
}
.wrap{
	display: flex;
	justify-content: space-between;
/*  为什么给ul设置高度,图片上下就自动有间隙啦???????????????? */
	/*align-content: space-between;*/
	margin: 100px auto 0;
	width: 864px;
	/*height: 424px;*/
}
img{
	vertical-align: top;
	height: 139px;
}