html{
	background: url(../img/bg.png) no-repeat;
	background-size: 100% 100%;
}
ul,li{
	list-style: none;
}
html,body{
	height: 100%;
	}
img{
	width: 100%;
	height: 100%;
	vertical-align: top;
	}
.wrap{
	width: 70%;
	height: 70%;
	margin: 15% auto 0;
	}
.left,.right{
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	}
	.right{
		margin-top: 5px;
	}
.left li:nth-child(odd),.right li:nth-child(even){
	width: 60%;
	height: 32%;
	}
.left li:nth-child(even),.right li:nth-child(odd){
	width: 39%;
	height: 32%;
	}